.resume-pdf-wrapper {
	background-color: #282c34;
	height: 95vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #82a284;
	.resume {
		height: 100%;
	}
	h3 {
		margin: 20px 0;
	}
	img {
		width: 60vw;
		height: auto;
		border: 1.5px solid #82a284;
		border-radius: 4px;
	}
}

@media only screen and (max-width: 675px) {
	.resume-pdf-wrapper {
		img {
			width: 90vw;
		}
	}
}
